@font-face {
  font-family: "Ankha VTES";
  src: url("https://static.krcg.org/web/ankha2.otf") format("opentype");
}

@font-face {
  font-family: "VTES Clans";
  src: url("https://static.krcg.org/web/vtes-clans.otf") format("opentype");
}

.krcg-icon {
  font-family: "Ankha VTES";
  font-style: normal;
}

.krcg-clan {
  font-family: "VTES Clans";
  font-style: normal;
}
